html, body, .container {
    margin: 0;
    height: 100%;
}
body {
    background: #e2e2e2;
}
header, main, footer {
    width: 100%;
    margin: 16px 0;
    background: white;
}
header, footer {
    height: 32px;
}
.container {
    flex-direction: column;
    display: flex;
    max-width: 992px;
    margin: 0 auto;
}
.wrap {
    flex: 1;
    flex-direction: row;
    display: flex;
    background: white;
}
nav, main {
    margin: 16px;
    background: #aaa;
}
nav {
    width: 32px;
}