html, body, .container {
    margin: 0;
    height: 100%;
}
body {
    background: #e2e2e2; 
}
header, main, footer {
    width: 100%;
    margin: 16px 0;
    background: white;
}
header, footer {
    height: 32px;
}
.container {
    flex-direction: column;
    display: flex;
    max-width: 992px;
    margin: 0 auto;
}
main {
    flex: 1;
}